body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.calculator {
    width: 400px;
    background-color: rgb(87, 79, 79);
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
}


input {
    width: 100%;
    background-color: black;
    border: none;
    height: 90px;
    color: rgb(20, 166, 166);
    font-size: 40px;
    font-weight: 600;
    text-align: right;
    padding: 1px;
}


.btns {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}


button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: hsl(60, 3%, 12%);
    border: none;
    color: rgb(243, 242, 242);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: rgb(32, 100, 100);
}


.btn {
    background-color: steelblue;
}

.btn:hover {
    background-color: rgb(122, 102, 102);
}
